:root {
  --darkSaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

/* ------------------------- */
/* Reset                     */
/* ------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body,
h1,
h2,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
p {
  font-weight: 400;
}

/* set up the body */
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(var(--softViolet), var(--softBlue));
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/* Utility classes           */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 35rem;
  background-color: white;
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* additional styles */
.wrapper {
  width: 45%;
  position: relative;
}

.box {
  position: absolute;
  top: 41%;
  left: -17%;
  width: 35%;
}

.hide-overflow {
  position: relative;
  min-height: 35em; /* need to set height since div contains positioned elements*/
  overflow: hidden;
}

.desktop,
.pattern {
  position: absolute;
  width: 100%;
  height: auto;
}

.desktop {
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.pattern {
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

/* FAQ */

.accordion {
  flex-direction: column;
  align-self: center;
  width: 55%;
  margin: 3rem 6rem 3rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.question-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.arrow {
  width: 1em;
  align-self: center;
}

.question-answer-set {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question:hover {
  color: var(--softRed);
  cursor: pointer;
}

.answer {
  display: none;
}

/* active state */

.active .answer {
  display: block;
  margin: 0;
  padding-bottom: 1em;
  transition: all 0.4s ease-in;
}

.active .arrow {
  transform: rotate(180deg);
}

.active .question {
  color: black;
  font-weight: bold;
}

.active .answer {
  margin: 0.6rem 0;
}

/* media query */
@media screen and (max-width: 750px) {
  body {
    min-height: 115vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 26rem;
    min-height: 45rem;
    top: 60%;
  }

  .wrapper,
  .accordion {
    width: 100%;
    margin: 0;
  }

  .hide-overflow {
    width: 80%;
    left: 12%;
    bottom: 55%;
    min-height: 15em;
    margin: 0 auto;
    overflow: visible;
  }

  .pattern {
    top: 60%;
    left: -15%;
    transform: none;
  }

  .box {
    display: none;
  }

  .title {
    margin-top: 5rem;
    text-align: center;
  }

  .question-answer-set {
    margin-left: 3em;
    margin-right: 3em;
  }
}
