/* ------------------------- */
/* Google Imports            */
/* ------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* ------------------------- */
/* Reset                     */
/* ------------------------- */

:root {
  /* colors */
  --clr-brightOrange: 31 77% 52%;
  --clr-darkCyan: 184 100% 22%;
  --clr-veryDarkCyan: 179 100% 13%;
  --clr-white: 0 0% 100%;
  --clr-veryLightGray: 0 0% 95%;

  /* font size */
  --fs-15: 0.9375rem;

  /* font families */
  --ff-lexend: "Lexend Deca", sans-serif;
  --ff-bigShoulder: "Big Shoulders Display", sans-serif;
}

/* ------------------------- */
/* Reset                     */
/* ------------------------- */

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset margin */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* set up the body */
body {
  font-family: var(--ff-lexend);
  font-weight: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-veryLightGray));
  min-height: 100vh;
  font-size: var(--fs-15);
}

/* make images & elements easier to work with */
img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/* Utility classes           */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin: var(--flow-space, 1rem);
}

.container {
  padding: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* visually hide content for sighted readers but still in the DOM for screen readers*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.bg-orange {
  background: hsl(var(--clr-brightOrange));
}

.bg-cyan {
  background: hsl(var(--clr-darkCyan));
}

.bg-darkCyan {
  background: hsl(var(--clr-veryDarkCyan));
}

.bg-lightGrey {
  background: hsl(var(--clr-veryLightGray));
}

.text-white {
  color: hsl(var(--clr-white) / 0.75);
}

/* typography */

.ff-bigShoulder {
  font-family: var(--ff-bigShoulder);
}

.ff-lexend {
  font-family: var(--ff-lexend);
}

.wrapper {
  padding: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.title {
  font-family: var(--ff-bigShoulder);
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  border: none;
  border-radius: 25px;
  padding: 0.6em 1.5em;
}

.btn-sedan {
  color: hsl(var(--clr-brightOrange));
}

.btn-suv {
  color: hsl(var(--clr-darkCyan));
}

.btn-luxury {
  color: hsl(var(--clr-veryDarkCyan));
}

/* ------------------------- */
/* Active State              */
/* ------------------------- */

.button:hover {
  border: 1px solid hsl(var(--clr-white));
  color: hsl(var(--clr-white));
  cursor: pointer;
  background: hsl(var(--clr-brightOrange) / 100%);
}

.btn-suv:hover {
  background: hsl(var(--clr-darkCyan) / 100%);
}

.btn-luxury:hover {
  background: hsl(var(--clr-veryDarkCyan) / 100%);
}

/* ------------------------- */
/* Media Query               */
/* ------------------------- */

@media screen and (min-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}

.attribution {
  font-size: 11px;
  position: absolute;
  top: 100%;
  color: hsl(var(--clr-brightOrange));
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
