:root {
  /* colors */
  --clr-brightOrange: 31 77% 52%;
  --clr-darkCyan: 184 100% 22%;
  --clr-veryDarkCyan: 179 100% 13%;
  --clr-white: 0 0% 100%;
  --clr-veryLightGray: 0 0% 95%;

  /* font size */
  --fs-15: 0.9375rem;

  /* font families */
  --ff-lexend: "Lexend Deca", sans-serif;
  --ff-bigShoulder: "Big Shoulders Display", sans-serif;
}

/* ------------------------- */
/* Reset                     */
/* ------------------------- */

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset margin */
body,
h1,
h2,
p {
  margin: 0;
}

/* set up the body */
body {
  font-family: var(--ff-lexend);
  font-weight: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-veryLightGray));
  min-height: 100vh;
  font-size: var(--fs-15);
}

/* make images & elements easier to work with */
img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/* Utility classes           */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin: var(--flow-space, 1rem);
}

/* colors */

.bg-orange {
  background: hsl(var(--clr-brightOrange));
}

.bg-cyan {
  background: hsl(var(--clr-darkCyan));
}

.bg-darkCyan {
  background: hsl(var(--clr-veryDarkCyan));
}

.bg-lightGrey {
  background: hsl(var(--clr-veryLightGray));
}

.text-white {
  color: hsl(var(--clr-white) / 0.75);
}

/* typography */

.ff-bigShoulder {
  font-family: var(--ff-bigShoulder);
}

.ff-lexend {
  font-family: var(--ff-lexend);
}

/* additional styles */
main {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  padding: 2em;
  margin-inline: auto;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sedan,
.SUV,
.luxury {
  width: 25%;
  padding: 1.5em;
  max-width: 80rem;
  --flow-space: 2rem;
}

img {
  padding-top: 1.5em;
  padding-left: 1.5em;
}

.title {
  font-family: var(--ff-bigShoulder);
  font-weight: 700;
  text-transform: uppercase;
}

/* rounded corners */

.sedan {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.luxury {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* buttons */

.button {
  border: none;
  border-radius: 25px;
  padding: 0.6em 1.5em;
  margin-top: 3em;
}

.btn-sedan {
  color: hsl(var(--clr-brightOrange));
}

.btn-suv {
  color: hsl(var(--clr-darkCyan));
}

.btn-luxury {
  color: hsl(var(--clr-veryDarkCyan));
}

.button:hover,
.button:focus {
  border: 1px solid hsl(var(--clr-white));
  color: hsl(var(--clr-white));
  cursor: pointer;
  background: hsl(var(--clr-brightOrange) / 100%);
}

.btn-suv:hover,
.btn-suv:focus {
  background: hsl(var(--clr-darkCyan) / 100%);
}

.btn-luxury:hover,
.btn-luxury:focus {
  background: hsl(var(--clr-veryDarkCyan) / 100%);
}

/* ------------------------- */
/* Media Query               */
/* ------------------------- */

@media screen and (max-width: 750px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .sedan,
  .SUV,
  .luxury {
    width: 100%;
  }

  .sedan {
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
  }

  .luxury {
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
  }
}
